<h1>Destaque: </h1>
<h2>{{hero.id}} - {{hero.name}}
    <!-- <ng-container [ngSwitch]="hero.dead">
        <button *ngSwitchCase="false" type="button" class="btn btn-danger btn-sm" (click)="killHero(hero)">matar</button>
        <button *ngSwitchCase="true" type="button" class="btn btn-primary btn-sm" (click)="ressHero(hero)">ressuscitar</button>
    </ng-container> -->
    <ng-container *ngIf="!hero.dead; else ressButton">
        <button type="button" class="btn btn-danger btn-sm" (click)="killHero(hero)">matar</button>
    </ng-container>
</h2>
<hr>
<app-heroes-list (highlightEvent)="setHighlight($event)" [heroes]="heroesList"></app-heroes-list>

<ng-template #ressButton>
    <button type="button" class="btn btn-primary btn-sm" (click)="ressHero(hero)">ressuscitar</button>
</ng-template>