<div class="row">
  <div class="col" *ngFor="let hero of heroes">
    <form>
      <div class="form-group row">
          <label class="col-sm-2">Id:</label>
          <div class="col-sm-10">{{hero.id}}</div>
      </div>
      <div class="form-group row">
        <label for="heroName" class="col-sm-2 col-form-label col-form-label-sm">Nome:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-sm" id="heroName" [(ngModel)]="hero.name" name="heroName" [disabled]="hero.dead">
        </div>
      </div>
    </form>
    <button type="button" class="btn btn-primary" (click)="setHighlight(hero)">Destacar</button>
    <div *ngIf="hero.dead" class="text-center">MORREU</div>
  </div>
</div>